*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto", serif;
    background-color: #FFFFFF;
}
/* Header */
.navbar{
    width: 100%;
    padding: 20px 10px;
    background-color: rgba(255,255, 255, 0.99);
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1000;
}
.navbar .container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;   
}
.navbar .container a{
    text-decoration: none;
}
.navbar .container .logo i{
    color: #3F9CFB;
    font-size: 28px;
}
.navbar .container .logo span{
    color: #17222B;
    font-size: 32px;
    margin-left: 5px;
}
.navbar .navbar-nav{
    display: flex;
    align-items: center;
    gap: 45px;
}
.navbar .navbar-nav .menu{
    display: flex;
    gap: 40px;
}
.navbar .navbar-nav .menu a{
    color: #505253;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.navbar .navbar-nav .menu a:hover{
    color: #2b2c2c;
}
.navbar .navbar-nav .kirish{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .navbar-nav .kirish .btn{
    display: flex;
    align-items: center;
    border: 2px solid #3F9CFB;
    padding: 12px 25px;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s ease;
    color: #3196fc;
}
.navbar .navbar-nav .kirish .btn:hover{
    background-color: #F5F7FA;
}
.design-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 85px;
}
.design-wrap{
    width: 1320px;
    display: flex;
    justify-content: space-around;
    background-color: #F5F7FA;
    padding-top: 110px;
    padding-bottom: 50px;
    border-radius: 25px;
}
.design-wrap .content h4{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #4d9eeb;
    text-transform: uppercase;
}
.design-wrap .content h1{
    margin-top: 15px;
    font-size: 60px;
    font-weight: 700;
    color: #1A2832;
}
.design-wrap .content .btn{
    border: 0;
    background-color: #43A0FB;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    border-radius: 10px;
    margin-top: 40px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.design-wrap .content .btn:hover{
    background-color: #348BDC;
    transform: scale(1.01);
}
.design-wrap .images{
    width: 390px;
    height: 365px;
    position: relative;
}
.design-wrap .images img{
    border-radius: 15px;
}
.design-wrap .images .img1{
    width: 200px;
    height: 202px;
    background-color: #C7E2FD;
    position: relative;
    border-radius: 15px;
}
.design-wrap .images .img1 img{
    width: 200px;
    height: 202px;
    position: absolute;
    top: -30px;
    left: -30px;
}
.design-wrap .images .img2{
    position: absolute;
    right: 5px;
    bottom: 35px;
}
.design-wrap .images .img2 img{
    width: 200px;
    height: 240px;
    border-bottom-left-radius: 50px;
}
/* .blok1-section */
.blok1-section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.blok1-section .container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
}
.blok1-section .text h2{
    color: #17222B;
    font-weight: 500;
    font-size: 34px;
}
.blok1-section .content-wrap{
    display: flex;
    gap: 60px;
}
.blok1-section .content-wrap .content span{
    color: #3F9CFB;
    font-size: 46px;
    font-weight: 500;
}
.blok1-section .content-wrap .content p{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    color: rgb(43, 41, 41);
}
/* blok2-section Kasblar va kurslar*/
.blok2-section{
    display: flex;
    justify-content: center;
}
.blok2-section .wrapper{
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.blok2-section .wrapper a{
    text-decoration: none;
}
.blok2-section .wrapper .content{
    width: 580px;
    padding: 70px 50px 50px 70px;
    border-radius: 20px;
    transition: all .5s ease;
}
.blok2-section .wrapper .content1{
    background-color: #3F9CFB;
}
.blok2-section .wrapper .content2{
    background-color: #091621;
}
.blok2-section .wrapper .content i{
    font-size: 68px;
    color: #fff;
}
.blok2-section .wrapper .content span{
    display: block;
    margin-top: 60px;
    font-size: 26px;
    font-weight: 500;
    color: #fff;
}
.blok2-section .wrapper .content p{
    font-size: 18px;
    font-weight: 500;
    color: #C8E3FE;
    line-height: 26px;
    margin-top: 15px;
    letter-spacing: 1px;
}
.blok2-section .wrapper .content .btn{
    width: 100%;
    margin-top: 25px;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: all .5s ease;
}
.blok2-section .wrapper .content1 .btn{
    background-color: #3F9CFB;
}
.blok2-section .wrapper .content2 .btn{
    background-color: #091621;
}
.blok2-section .wrapper .content:hover{
    transform: scale(1.005);
}
.blok2-section .wrapper .content1 .btn:hover{
    background-color: #6DB4FC;
}
.blok2-section .wrapper .content2 .btn:hover{
    background-color: #434D54;
}
/* blok3-section */
.blok3-section{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.blok3-section .container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    background-color: #143755;
    border-radius: 15px;
    padding: 50px 80px;
    align-items: center;
}
.blok3-section .container .content1 span{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #62a2e2;
}
.blok3-section .container .content1 h1{
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    line-height: 56px;
    margin-top: 20px;
}
.blok3-section .container .content1 .btn{
    color: #fff;
    font-size: 16px;
    background-color: #3F9CFB;
    border: 0;
    padding: 12px 20px;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease;
}
.blok3-section .container .content1 .btn:hover{
    background-color: #348BDC;
}
.blok3-section .container .content2{
    display: flex;
    margin-right: 40px;
    position: relative;
}
.blok3-section .container .content2 .icon1{
    font-size: 100px;
    color: #697783;
    margin-top: 160px;
    margin-right: -50px;
    z-index: 100;
}
.blok3-section .container .content2 .icon2{
    font-size: 150px;
    color: #3F9CFB;
    margin-top: 70px;
    z-index: 10;
}
.blok3-section .container .content2 .icon3{
    font-size: 130px;
    color: #bebdbd;
    margin-top: 70px;
    margin-left: -40px;

}
/* Kasblar section */
.kasblar{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.kasblar-wrap{
    width: 1320px;
    display: flex;
    justify-content: center;
    background-color: #091621;
    padding: 80px 0;
    border-radius: 20px;
}
.kasblar .wrapper .title h1{
    font-size: 38px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.kasblar .wrapper .title p{
    font-size: 16px;
    font-weight: 500;
    color: #888686;
    margin-top: 20px;
    text-align: center;
}
.kasblar .wrapper .menu{
    display: flex;
    gap: 22px;
    margin-top: 40px;
}
.kasblar .wrapper .menu .btn{
    border: 1px solid #3F9CFB;
    font-size: 16px;
    padding: 12px 25px;
    background-color: #091621;
    border-radius: 8px;
    color: #3B91E9;
    transition: all .5s ease;
}
.kasblar .wrapper .menu .btn:hover{
    background-color: #3F9CFB;
}
.kasblar .wrapper .menu .btn:hover span{
    color: #fff;
}
.kasblar .wrapper .container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 35px;
}
.kasblar .wrapper .container a{
    text-decoration: none;
}
.kasblar .wrapper .container .content{
    width: 370px;
    height: 370px;
    background-color: #0B2D4A;
    border: 1px solid #003866;
    padding: 30px;
    border-radius: 20px;
    position: relative;
}
.kasblar .wrapper .container .content p{
    font-size: 15px;
    font-weight: 400;
    color: #6e6d6d;
}
.kasblar .wrapper .container .content h2{
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    margin-top: 12px;
    margin-bottom: 25px;
}
.kasblar .wrapper .container .content span{
    font-size: 16px;
    color: #3F9CFB;
    text-transform: uppercase;
}
.kasblar .wrapper .container .content .icon{
    width: 100%;
}
.kasblar .wrapper .container .content img{
    width: 170px;
    height: 150px;
    position: absolute;
    right: 40px;
    bottom: 50px;
    border-radius: 20px;
}
/* Kurslar section */
.kurslar{
    width: 100%;
    padding-top: 75px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.kurslar .kurslar-wrap{
    width: 1320px;
    display: grid;
    justify-content: center;
}
.kurslar-wrap .title{
    margin: 0 auto;
}
.kurslar-wrap .title h1{
    font-size: 38px;
    font-weight: 600;
    color: #17222B;
    text-align: center;
}
.kurslar-wrap .title .menu{
    display: flex;
    gap: 15px;
    margin-top: 40px;
}
.kurslar-wrap .title .menu .btn{
    border: 0;
    background-color: #fff;
    padding: 6px 12px;
    cursor: pointer;
}
.kurslar-wrap .title .menu span{
    font-size: 16px;
    color: #616970;
    transition: all .25s ease;
}
.kurslar-wrap .title .menu .btn:hover span{
    color: #3F9CFB;
}
.kurslar-wrap .container{
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}
.kurslar-wrap .container a{
    text-decoration: none;
}
.kurslar-wrap .container .content{
    width: 270px;
    height: 350px;
    border: 1px solid #E1E5E8;
    border-radius: 15px;
    overflow: hidden;
    transition: all .5s ease;
}
.kurslar-wrap .container .content:hover{
    box-shadow: 0 10px 10px 0 #e7e6e6;
}
.kurslar-wrap .container .content .img{
    width: 100%;
    height: 160px;
}
.kurslar-wrap .container .content img{
    width: 100%;
    height: 100%;
}
.kurslar-wrap .container .content .text{
    padding: 20px;
    display: grid;
    gap: 10px;
}
.kurslar-wrap .container .content .text .user{
    display: flex;
    gap: 6px;
    align-items: center;
}
.kurslar-wrap .container .content .text .user i{
    color: #7F868B;
    font-size: 15px;
}
.kurslar-wrap .container .content .text .user span{
    font-size: 17px;
    font-weight: 400;
    color: #7F868B;
}
.kurslar-wrap .container .content .text h3{
    font-size: 20px;
    font-weight: 500;
    color: #17222B;
}
.kurslar-wrap .container .content .text p{
    font-size: 16px;
    font-weight: 400;
    color: #7F868B;
}
.kurslar-wrap .container .content .text h2{
    font-size: 22px;
    font-weight: 600;
    color: #3F9CFB;
    margin-top: 8px;
}
/* footer */
.footer-section{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #17222B;
    margin-top: 70px;
}
.footer-section .wrapper{
    width: 1100px;
    padding: 120px 0;
    display: grid;
    border-radius: 15px;
}
.footer-section .wrapper .container1{
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    padding: 60px; 
    background-color: #263039;
    border-radius: 15px;
    position: relative;
}
.footer-section .wrapper .container1 .text h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 46px;
    color: #fff;
}
.footer-section .wrapper .container1 .text p{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #868686;
    margin-top: 20px;
}
.footer-section .wrapper .container1 .content{
    width: 370px;
    height: 440px;
    display: grid;
    background-color: #1F2932;
    position: absolute;
    right: 60px;
    top: -55px;
    border-radius: 15px;
    border: 1px solid #263039;
}
.footer-section .wrapper .container1 .content form{
    padding: 15px 30px;
    display: grid;
}
.footer-section .wrapper .container1 .content form input{
    height: 50px;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #c4c8cc;
    background-color: #17222B;
    border: 1px solid #434D54;
    margin-top: 10px;
}
.footer-section .wrapper .container1 .content form span{
    font-size: 18px;
    font-weight: 500;
    color: #D7DBDE;
    margin-top: 15px;
}
.footer-section .wrapper .container1 .content form p{
    font-size: 14px;
    font-weight: 400;
    color: #858282;
    margin-top: 10px;
    letter-spacing: 1px;
}
.footer-section .wrapper .container1 .content form .submit{
    background-color: #3F9CFB;
    font-size: 18px;
    color: #fff;
    transition: all .5s ease;
    cursor: pointer;
}
.footer-section .wrapper .container1 .content form .submit:hover{
    background-color: #2F85DA;
}